.header {
    padding: 0;
    background-color: #fff ;

    &__img {
        max-width: 100px;
        @media (max-width: 280px) {
            max-width: 90px;
        }
    }

    &__logo {
        @include font-properties(15px, 600);

        @media (max-width: 280px) {
            font-size: 17px !important;
            margin: 0 !important;
        }
    }

    &__basket-img {
        width: 50px;
        padding-top: 20px;
    }

    .nav-link {
        padding: 5px;
        color: black;
        &:hover {
        color: $vinous;
            text-decoration: underline;
        }
    }

    .navbar-toggler {
        border: none;
        &:active, :hover {
            border: none;
            color: transparent;
        }
    } 
}

.logo {
    display: flex;
    flex-direction: column;
}

.lang {
    border: none;
    background-color: transparent;
    color: grey;
    &:hover {
        color: $pink;
    }
}

.dropdown-item {
    &:active {
        background-color: white;
        color: black;
        padding: 7px 0;
    }
}

.navbar-nav {
    gap: 25px;
    @media (max-width: 992px) {
        gap: 0px;
    }
    .dropdown-menu {
        margin-top: 40px;
        margin-left: -100px;
    }
    
}

.nav-item {
    display: flex;
    gap: 5px;
}

.b-1 {
    display: none;
    @media (max-width: 992px) {
        display: block;
    }
}

.b-2 {
    @media (max-width: 992px) {
        display: none;
    }
}

