@import "./reset";
@import "./header";


.main {
    &__nav-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 40px;
        &:active {
            border: none;
        }
        @media (max-width: 860px) {
            padding-top: 5px;
        }
        @media (max-width: 648px) {
        }
    }

    .btn {
        @include font-properties(15px, 500);
        border: 2px solid black;
        border-radius: 20px;
        &:hover {
            color: $vinous;
            transition: 0.5s;
        }
        @media (max-width: 440px) {
            font-size: 12px;
            max-width: 100px;
            margin-top: 15px;
        }
        @media (max-width: 288px) {
            font-size: 10px;
            max-width: 90px;
            margin-top: 12px;
        }
    }

    &__btn-fb {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: end;
        padding-bottom: 40px;
        @media (max-width: 890px) {
            padding-bottom: 30px;
            padding-top: 10px;
        }
    }

    &__btn {
        cursor: pointer;
        color: white;
        background-color: #1877f2;
        border: none;
        padding: 5px 8px;
        border-radius: 3px;
        font-weight: 700;
    }
}

.card {
    display: flex;
    padding: 10px;
    width: 30%;
    @media (max-width: 648px) {
        width: 49%;
    }
    @media (max-width: 529px) {
        width: 48%;
    }        
    
    @media (max-width: 280px) {
        width: 47%;
    }
}

.card-img-top {
    max-width: 100%;
}

.card-title {
    text-align: center;

    @media (max-width: 725px) {
        font-size: 20px;
    }
    @media (max-width: 690px) {
        font-size: 18px;
    }
    @media (max-width: 648px) {
        font-size: 20px;
    }
    @media (max-width: 440px) {
        font-size: 16px;
    }
    @media (max-width: 440px) {
        font-size: 16px;
    }
    @media (max-width: 350px) {
        font-size: 15px;
    }
}

.card-text {
    max-width: 240px;
    text-align: center;
    
    @media (max-width: 769px) {
        font-size: 15px;
    }
    @media (max-width: 725px) {
        font-size: 14px;
    }
    @media (max-width: 690px) {
        font-size: 13px;
    }
    @media (max-width: 648px) {
        font-size: 15px;
    }
    @media (max-width: 500px) {
        font-size: 14px;
    }
    @media (max-width: 440px) {
        display: none;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



@import "./footer";