@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1601px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1600px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1080px) {
  .container-flex {
    max-width: 1054px;
  }
}
@media (max-width: 1024px) {
  .container-flex {
    max-width: 1024px;
  }
}
@media (max-width: 904px) {
  .container-flex {
    max-width: 890px;
  }
}
@media (max-width: 768px) {
  .container-flex {
    max-width: 750px;
  }
}
@media (max-width: 648px) {
  .container-flex {
    max-width: 630px;
  }
}

.page-wrap {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecd6d8;
}

.header {
  padding: 0;
}
.header .bg-light {
  background-color: #fff !important;
}
.header .logo {
  display: flex;
  flex-direction: column;
}
.header .lang {
  border: none;
  background-color: transparent;
  color: grey;
}
.header .lang:hover {
  color: #bd85a1;
}
.header .dropdown-item:active {
  background-color: white;
  color: black;
  padding: 7px 0;
}
.header .navbar-nav {
  gap: 25px;
}
@media (max-width: 992px) {
  .header .navbar-nav {
    gap: 0px;
  }
}
.header .nav-item {
  display: flex;
  gap: 5px;
}
.header .nav-link {
  padding: 5px;
  color: black;
}
.header .nav-link:hover {
  color: #bd85a1;
  text-decoration: underline;
}
.header__img {
  max-width: 100px;
}
@media (max-width: 280px) {
  .header__img {
    max-width: 90px;
  }
}
.header__logo {
  font-size: 15px;
  font-weight: 600;
}
@media (max-width: 280px) {
  .header__logo {
    font-size: 17px !important;
    margin: 0 !important;
  }
}
.header__basket-img {
  width: 50px;
  padding-top: 20px;
}
.header .b-1 {
  display: none;
}
@media (max-width: 992px) {
  .header .b-1 {
    display: block;
  }
}
@media (max-width: 992px) {
  .header .b-2 {
    display: none;
  }
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler:active, .header .navbar-toggler :hover {
  border: none;
  color: transparent;
}

.main__nav-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}
.main__nav-card:active {
  border: none;
}
@media (max-width: 860px) {
  .main__nav-card {
    padding-top: 5px;
  }
}
.main .card {
  display: flex;
  width: 30%;
}
@media (max-width: 648px) {
  .main .card {
    width: 49%;
  }
}
@media (max-width: 529px) {
  .main .card {
    width: 48%;
  }
}
@media (max-width: 280px) {
  .main .card {
    width: 47%;
  }
}
.main .card-img-top {
  height: 200px;
}
@media (max-width: 1210px) {
  .main .card-img-top {
    height: 180px;
  }
}
@media (max-width: 1175px) {
  .main .card-img-top {
    height: 170px;
  }
}
@media (max-width: 1050px) {
  .main .card-img-top {
    height: 165px;
  }
}
@media (max-width: 990px) {
  .main .card-img-top {
    height: 150px;
  }
}
@media (max-width: 910px) {
  .main .card-img-top {
    height: 140px;
  }
}
@media (max-width: 800px) {
  .main .card-img-top {
    height: 130px;
  }
}
@media (max-width: 750px) {
  .main .card-img-top {
    height: 115px;
  }
}
@media (max-width: 680px) {
  .main .card-img-top {
    height: 105px;
  }
}
@media (max-width: 648px) {
  .main .card-img-top {
    height: 150px;
  }
}
@media (max-width: 590px) {
  .main .card-img-top {
    height: 135px;
  }
}
@media (max-width: 500px) {
  .main .card-img-top {
    height: 125px;
  }
}
@media (max-width: 470px) {
  .main .card-img-top {
    height: 120px;
  }
}
@media (max-width: 460px) {
  .main .card-img-top {
    height: 110px;
  }
}
@media (max-width: 420px) {
  .main .card-img-top {
    height: 100px;
  }
}
@media (max-width: 390px) {
  .main .card-img-top {
    height: 90px;
  }
}
@media (max-width: 360px) {
  .main .card-img-top {
    height: 85px;
  }
}
@media (max-width: 325px) {
  .main .card-img-top {
    height: 80px;
  }
}
@media (max-width: 280px) {
  .main .card-img-top {
    height: 75px;
  }
}
@media (max-width: 250px) {
  .main .card-img-top {
    height: 70px;
  }
}
.main .card-title {
  text-align: center;
}
@media (max-width: 725px) {
  .main .card-title {
    font-size: 20px;
  }
}
@media (max-width: 690px) {
  .main .card-title {
    font-size: 18px;
  }
}
@media (max-width: 648px) {
  .main .card-title {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .main .card-title {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  .main .card-title {
    font-size: 16px;
  }
}
@media (max-width: 350px) {
  .main .card-title {
    font-size: 15px;
  }
}
.main .card-text {
  max-width: 240px;
  text-align: center;
}
@media (max-width: 769px) {
  .main .card-text {
    font-size: 15px;
  }
}
@media (max-width: 725px) {
  .main .card-text {
    font-size: 14px;
  }
}
@media (max-width: 690px) {
  .main .card-text {
    font-size: 13px;
  }
}
@media (max-width: 648px) {
  .main .card-text {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .main .card-text {
    font-size: 14px;
  }
}
@media (max-width: 440px) {
  .main .card-text {
    display: none;
  }
}
.main .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main .btn {
  font-size: 15px;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 20px;
}
.main .btn:hover {
  color: #935e7e;
  transition: 0.5s;
}
@media (max-width: 440px) {
  .main .btn {
    font-size: 12px;
    max-width: 100px;
    margin-top: 15px;
  }
}
@media (max-width: 288px) {
  .main .btn {
    font-size: 10px;
    max-width: 90px;
    margin-top: 12px;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.877);
  padding: 20px 0;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  padding: 5px;
}