@import "./reset";
@import "./header";

.main {
    &__nav-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 40px;
        &:active {
            border: none;
        }
        @media (max-width: 860px) {
            padding-top: 5px;
        }
        @media (max-width: 648px) {
            justify-content: center;
        }
    }

    .card {
        display: flex;
        width: 30%;
        @media (max-width: 648px) {
            width: 50%;
        }
        @media (max-width: 590px) {
            width: 70%;
        }
        @media (max-width: 540px) {
            width: 100%;
        }
    }

    .card-img-top {
        height: 200px;
        @media (max-width: 1175px) {
            height: 180px;
        }
        @media (max-width: 1050px) {
            height: 170px;
        }
        @media (max-width: 980px) {
            height: 160px;
        }
        @media (max-width: 910px) {
            height: 150px;
        }
        @media (max-width: 780px) {
            height: 140px;
        }
        @media (max-width: 750px) {
            height: 130px;
        }
        @media (max-width: 680px) {
            height: 120px;
        }
        @media (max-width: 648px) {
            height: 150px;
        }
        @media (max-width: 590px) {
            height: 200px;
        }
        @media (max-width: 540px) {
            max-width: 350px;
        }
        @media (max-width: 360px) {
            height: 165px;
        }
        @media (max-width: 280px) {
            height: 150px;
        }
        @media (max-width: 250px) {
            height: 130px;
        }
    }

    .card-text {
        max-width: 240px;
        text-align: center;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        @include font-properties(15px, 500);
        border: 2px solid black;
        border-radius: 20px;
        &:hover {
            color: $vinous;
            transition: 0.5s;
        }
    }

}


@import "./footer";