@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1110px + 15px * 2;
    margin: 0 auto;
    padding: 0 15px;
}

.page-wrap {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

@mixin font-properties 
($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}


//colors:

$skin: #ecd6d8;
$dusty-pink: #e2aeb7;
$pink: #bd85a1;
$purple: #927294;
$vinous: #935e7e;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $skin;
}

.header {
    background: linear-gradient($vinous, $dusty-pink);
    padding: 0;

    &__fl {
        display: flex;
        align-items: center;
    }

    &__img {
        max-width: 110px;
    }

    &__contact-info-wrap {
        @extend %flex;
        gap: 100px;
        justify-content: space-between;
    }

    &__logo {
        @include font-properties(20px, 700);
    }

    &__contact-nav {
        @extend %flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }

    &__nav {
        @extend %flex;
        flex-direction: row;
        gap: 90px;
    }

    &__link {
        border-radius: 10px;
        padding: 5px;
    }

    &__link:hover {
        background-color: $pink;
    }

    &__txt-btn {
        @extend %flex;
        flex-direction: row;
        gap: 5px;
    }

    &__btn {
        border: none;
        padding: 5px;
        background-color: transparent;
        cursor: pointer;
    }

    
    &__contact {
        @extend %flex;
        gap: 40px;
        justify-content: space-between;
    }

    &__phone-num {
        @extend %flex;
        gap: 10px;
        align-items: center;
    }

    &__vodafone {
        max-width: 30px;
    }

    &__kyivstar {
        max-width: 30px;
    }

    &__product-nav {
        @extend %flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 0 15px;
        margin-top: 30px;

    }

    &__nav-link {
        @include font-properties(20px, 400);
    }

    &__nav-link:hover {
        color: $skin;
        text-decoration: underline;
    }

    &__basket-img {
        width: 70px;
        padding-top: 40px;
        padding-left: 20px;
    }
}

.main {
    &__h1 {
        @include font-properties(30px, 700);
        padding: 40px 0 15px 0;
        text-align: center;
    }

    &__txt {
        @include font-properties(20px, 400);
        text-indent: 2rem;
        padding-bottom: 15px;
    }

    .txt-center {
        display: flex;
        justify-content: center;
    }

    &__nav-card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 60px;
        cursor: pointer;
    }

    &__link {
        @include font-properties(20px, 400);
    }

    &__h2 {
        @include font-properties(25px, 700);
        text-align: center;
        padding-bottom: 20px;
    }

    &__text-box {
        display: flex;
        gap: 30px;
    }

    &__block {
        max-width: 550px;
    }

    &__btn-fb {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: end;
        padding-bottom: 40px;
    }

    &__btn {
        cursor: pointer;
        color: white;
        background-color: #1877f2;
        border: none;
        padding: 5px 8px;
        border-radius: 3px;
        font-weight: 700;
    }
}

.dusty-pink {
    background-color: $dusty-pink;
    &:hover {
        background-color: $skin;
        border: 3px solid $dusty-pink;
    }
}

.purple {
    background-color: $purple;
    &:hover {
        background-color: $skin;
        border: 3px solid $purple;
    }
}

.pink {
    background-color: $pink;
    &:hover {
        background-color: $skin;
        border: 3px solid $pink;
    }
}

.vinous {
    background-color: $vinous;
    &:hover {
        background-color: $skin;
        border: 3px solid $vinous;
    }
}


.footer {
    background: linear-gradient($dusty-pink, $vinous);
    padding: 20px 0;

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link {
        @include font-properties(20px, 400);
        border-radius: 10px;
        padding: 5px;
        
        &:hover {
            background-color: $pink;
        }
    }
}