* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1110px + 15px * 2;
    margin: 0 auto;
    padding: 0 15px;
}

.page-wrap {
    min-height: 100vh;

}

a {
    text-decoration: none;
    color: black;
}

@mixin font-properties 
($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

%flex {
    display: flex;
    flex-wrap: wrap;
}

$basic-green: rgb(68, 104, 104);
$ivory: rgb(243, 230, 212);


body {
    background-color: $ivory;
}

.header {
    background-color: $basic-green;
    padding: 20px 0;

   

    &__search {
        width: 100%;
        height: 30px;
        border-radius: 15px;
        border: none;
        padding: 0 15px;
    }

    &__img {
        max-width: 130px;
    }

    &__contact-info-wrap {
        @extend %flex;
        gap: 100px;
        justify-content: center;
    }

    &__contact-nav {
        @extend %flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        text-align: center;
        margin-top: 40px;
    }

    &__nav {
        @extend %flex;
        flex-direction: row;
        gap: 90px;
    }

    &__link {
        border-radius: 10px;
        padding: 5px;
    }

    &__link:hover {
        background-color: $ivory;
    }

    &__txt-btn {
        @extend %flex;
        flex-direction: row;
        gap: 5px;
    }

    &__btn {
        border: none;
        border-radius: 10px;
        padding: 5px;
        background-color: $basic-green;
    }

    &__btn:hover {
        background-color: $ivory;
    }

    &__contact {
        @extend %flex;
        gap: 40px;
        padding-left: 20px;
    }

    &__phone-num {
        @extend %flex;
        gap: 10px;
        align-items: center;
    }

    &__vodafone {
        max-width: 30px;
    }

    &__kyivstar {
        max-width: 30px;
    }

    &__product-nav {
        @extend %flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 25px 0 15px;
        border-top: 2px solid $ivory;
        margin-top: 30px;

    }

    &__nav-link {
        @include font-properties(20px, 400)
    }

    &__nav-link:hover {
        color: $ivory;
        text-decoration: underline;
    }
}