@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrap {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.header__product-nav, .header__phone-num, .header__contact, .header__txt-btn, .header__nav, .header__contact-nav, .header__contact-info-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecd6d8;
}

.header {
  background: linear-gradient(#935e7e, #e2aeb7);
  padding: 0;
}
.header__fl {
  display: flex;
  align-items: center;
}
.header__img {
  max-width: 110px;
}
.header__contact-info-wrap {
  gap: 100px;
  justify-content: space-between;
}
.header__logo {
  font-size: 20px;
  font-weight: 700;
}
.header__contact-nav {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.header__nav {
  flex-direction: row;
  gap: 90px;
}
.header__link {
  border-radius: 10px;
  padding: 5px;
}
.header__link:hover {
  background-color: #bd85a1;
}
.header__txt-btn {
  flex-direction: row;
  gap: 5px;
}
.header__btn {
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}
.header__contact {
  gap: 40px;
  justify-content: space-between;
}
.header__phone-num {
  gap: 10px;
  align-items: center;
}
.header__vodafone {
  max-width: 30px;
}
.header__kyivstar {
  max-width: 30px;
}
.header__product-nav {
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 15px;
  margin-top: 30px;
}
.header__nav-link {
  font-size: 20px;
  font-weight: 400;
}
.header__nav-link:hover {
  color: #ecd6d8;
  text-decoration: underline;
}
.header__basket-img {
  width: 70px;
  padding-top: 40px;
  padding-left: 20px;
}

.main__h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 40px 0 15px 0;
  text-align: center;
}
.main__txt {
  font-size: 20px;
  font-weight: 400;
  text-indent: 2rem;
  padding-bottom: 15px;
}
.main .txt-center {
  display: flex;
  justify-content: center;
}
.main__nav-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 40px;
}
.main__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  cursor: pointer;
}
.main__link {
  font-size: 20px;
  font-weight: 400;
}
.main__h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
.main__text-box {
  display: flex;
  gap: 30px;
}
.main__block {
  max-width: 550px;
}
.main__btn-fb {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
  padding-bottom: 40px;
}
.main__btn {
  cursor: pointer;
  color: white;
  background-color: #1877f2;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 700;
}

.dusty-pink {
  background-color: #e2aeb7;
}
.dusty-pink:hover {
  background-color: #ecd6d8;
  border: 3px solid #e2aeb7;
}

.purple {
  background-color: #927294;
}
.purple:hover {
  background-color: #ecd6d8;
  border: 3px solid #927294;
}

.pink {
  background-color: #bd85a1;
}
.pink:hover {
  background-color: #ecd6d8;
  border: 3px solid #bd85a1;
}

.vinous {
  background-color: #935e7e;
}
.vinous:hover {
  background-color: #ecd6d8;
  border: 3px solid #935e7e;
}

.footer {
  background: linear-gradient(#e2aeb7, #935e7e);
  padding: 20px 0;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  font-size: 20px;
  font-weight: 400;
  border-radius: 10px;
  padding: 5px;
}
.footer__link:hover {
  background-color: #bd85a1;
}