* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrap {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.header__product-nav, .header__phone-num, .header__contact, .header__txt-btn, .header__nav, .header__contact-nav, .header__contact-info-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: rgb(243, 230, 212);
}

.header {
  background-color: rgb(68, 104, 104);
  padding: 20px 0;
}
.header__search {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: none;
  padding: 0 15px;
}
.header__img {
  max-width: 130px;
}
.header__contact-info-wrap {
  gap: 100px;
  justify-content: center;
}
.header__contact-nav {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.header__nav {
  flex-direction: row;
  gap: 90px;
}
.header__link {
  border-radius: 10px;
  padding: 5px;
}
.header__link:hover {
  background-color: rgb(243, 230, 212);
}
.header__txt-btn {
  flex-direction: row;
  gap: 5px;
}
.header__btn {
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(68, 104, 104);
}
.header__btn:hover {
  background-color: rgb(243, 230, 212);
}
.header__contact {
  gap: 40px;
  padding-left: 20px;
}
.header__phone-num {
  gap: 10px;
  align-items: center;
}
.header__vodafone {
  max-width: 30px;
}
.header__kyivstar {
  max-width: 30px;
}
.header__product-nav {
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0 15px;
  border-top: 2px solid rgb(243, 230, 212);
  margin-top: 30px;
}
.header__nav-link {
  font-size: 20px;
  font-weight: 400;
}
.header__nav-link:hover {
  color: rgb(243, 230, 212);
  text-decoration: underline;
}