@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrap {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

.header__product-nav, .header__phone-num, .header__contact, .header__txt-btn, .header__nav, .header__contact-nav, .header__contact-info-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ecd6d8;
}

.header {
  background: linear-gradient(#927294, #bd85a1);
  padding: 0;
}
.header__fl {
  display: flex;
  align-items: center;
}
.header__img {
  max-width: 110px;
}
.header__contact-info-wrap {
  gap: 100px;
  justify-content: space-between;
}
.header__logo {
  font-size: 20px;
  font-weight: 700;
}
.header__contact-nav {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.header__nav {
  flex-direction: row;
  gap: 90px;
}
.header__link {
  border-radius: 10px;
  padding: 5px;
}
.header__link:hover {
  background-color: #79585E;
}
.header__txt-btn {
  flex-direction: row;
  gap: 5px;
}
.header__btn {
  border: none;
  padding: 5px;
  background-color: transparent;
}
.header__contact {
  gap: 40px;
  justify-content: space-between;
}
.header__phone-num {
  gap: 10px;
  align-items: center;
}
.header__vodafone {
  max-width: 30px;
}
.header__kyivstar {
  max-width: 30px;
}
.header__product-nav {
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 0 15px;
  margin-top: 30px;
}
.header__nav-link {
  font-size: 20px;
  font-weight: 400;
}
.header__nav-link:hover {
  color: #ABAEAE;
  text-decoration: underline;
}
.header__basket-img {
  width: 70px;
  padding-top: 40px;
  padding-left: 20px;
}

.main__h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 40px 0 15px 0;
  text-align: center;
}
.main__txt {
  font-size: 20px;
  font-weight: 400;
  text-indent: 2rem;
  padding-bottom: 15px;
}
.main__nav-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  cursor: pointer;
}
.main__link {
  font-size: 20px;
  font-weight: 400;
}

.dusty-pink {
  background-color: #e2aeb7;
}
.dusty-pink:hover {
  background-color: #ecd6d8;
}

.purple {
  background-color: #927294;
}
.purple:hover {
  background-color: #ecd6d8;
}

.pink {
  background-color: #bd85a1;
}
.pink:hover {
  background-color: #ecd6d8;
}

.vinous {
  background-color: #935e7e;
}
.vinous:hover {
  background-color: #ecd6d8;
}