@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1601px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1600px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1080px) {
  .container-flex {
    max-width: 1054px;
  }
}
@media (max-width: 904px) {
  .container-flex {
    max-width: 890px;
  }
}
@media (max-width: 648px) {
  .container-flex {
    max-width: 630px;
  }
}

.page-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 0;
  background-color: #fff;
}
.header__img {
  max-width: 100px;
  width: 100%;
}
.header__logo {
  font-size: 15px;
  font-weight: 600;
}
.header__basket {
  text-decoration: none;
}
.header__basket-img {
  width: 60px;
  padding-top: 20px;
}
.header__cost {
  border-radius: 50px;
  background-color: rgb(207, 57, 57);
  width: 19px;
  height: 19px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 650;
  position: absolute;
  right: 10px;
  bottom: 50px;
}
.header__cost-mini {
  border-radius: 50px;
  background-color: rgb(207, 57, 57);
  width: 19px;
  height: 19px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 650;
  position: relative;
  right: -33px;
  bottom: 30px;
}
.header .nav-link {
  padding: 5px;
  color: black;
}
.header .nav-link:hover {
  color: #935e7e;
  text-decoration: underline;
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler:active, .header .navbar-toggler :hover {
  border: none;
  color: transparent;
}

.logo {
  display: flex;
  flex-direction: column;
}

.lang {
  border: none;
  background-color: transparent;
  color: grey;
}
.lang:hover {
  color: #935e7e;
}

.dropdown-item:active {
  background-color: #935e7e !important;
}

.navbar-nav {
  gap: 25px;
}
@media (max-width: 992px) {
  .navbar-nav {
    gap: 0px;
  }
}
.navbar-nav .dropdown-menu {
  margin-top: 40px;
  margin-left: -100px;
}

.nav-item {
  display: flex;
  gap: 5px;
}

.b-1 {
  display: none;
}
@media (max-width: 992px) {
  .b-1 {
    display: block;
  }
}

@media (max-width: 992px) {
  .b-2 {
    display: none;
  }
}

.main__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 505px) {
  .main__content {
    flex-direction: row;
  }
}
.main__last-card {
  width: 75%;
}
@media (max-width: 880px) {
  .main__last-card {
    width: 100%;
  }
}
.main__h1 {
  align-items: center;
  font-size: 28px;
  padding: 15px 0;
}
@media (max-width: 500px) {
  .main__h1 {
    font-size: 23px;
  }
}
@media (max-width: 380px) {
  .main__h1 {
    font-size: 20px;
  }
}
.main__headline {
  display: flex;
  justify-content: center;
}
.main__map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.main__btn-fb {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
  padding-bottom: 40px;
}
@media (max-width: 890px) {
  .main__btn-fb {
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
.main__btn {
  cursor: pointer;
  color: white;
  background-color: #1877f2;
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: row !important;
  width: 47%;
}
@media (max-width: 880px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 505px) {
  .card {
    flex-direction: column !important;
    width: 45%;
  }
}
@media (max-width: 410px) {
  .card {
    width: 75%;
  }
}
@media (max-width: 325px) {
  .card {
    width: 100%;
  }
}

.card-title {
  margin-bottom: 3px !important;
}
@media (max-width: 960px) {
  .card-title {
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .card-title {
    font-size: 15px;
  }
}

.card-text {
  margin-bottom: 5px !important;
}
@media (max-width: 960px) {
  .card-text {
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .card-text {
    font-size: 13px;
  }
}

.img-fluid {
  width: 100% !important;
  max-width: 200px !important;
}
@media (max-width: 550px) {
  .img-fluid {
    max-width: 190px !important;
  }
}
@media (max-width: 505px) {
  .img-fluid {
    max-width: 220px !important;
    border-radius: 6px;
  }
}
@media (max-width: 410px) {
  .img-fluid {
    max-width: 350px !important;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.877);
  padding: 20px 0;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  padding: 5px;
}
.footer__link:hover {
  text-decoration: underline;
}