@import "./reset";
@import "./header";


.main {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
        @media (max-width:505px) {
            flex-direction: row;
        }
    }
    
    &__last-card {
        width: 75%;
        @media (max-width:880px) {
            width: 100%;
        }
    }

    &__h1 {
        align-items: center;
        font-size: 28px;
        padding: 15px 0;
        @media (max-width: 500px) {
            font-size: 23px;
        }
        @media (max-width: 380px) {
            font-size: 20px;
        }
    }

    &__headline {
        display: flex;
        justify-content: center;
    }

    &__map {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    &__btn-fb {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: end;
        padding-bottom: 40px;
        @media (max-width: 890px) {
            padding-bottom: 30px;
            padding-top: 10px;
        }
    }

    &__btn {
        cursor: pointer;
        color: white;
        background-color: #1877f2;
        border: none;
        padding: 5px 8px;
        border-radius: 3px;
        font-weight: 700;
    }
}

.card {
    display: flex;
    flex-direction: row !important;
    width: 47%;
    @media (max-width:880px) {
        width: 100%;
    }
    @media (max-width:505px) {
        flex-direction: column !important;
        width: 45%;
    }
    @media (max-width:410px) {
        width: 75%;
    }
    @media (max-width:325px) {
        width: 100%;
    }
}

.card-title {
    margin-bottom: 3px !important;
    @media (max-width:960px) {
        font-size: 17px;
    }
    @media (max-width:550px) {
        font-size: 15px;
    }
}

.card-text {
    margin-bottom: 5px !important;
    @media (max-width:960px) {
        font-size: 15px;
    }
    @media (max-width:550px) {
        font-size: 13px;
    }
}

.img-fluid {
    width: 100% !important;
    max-width: 200px !important;
    @media (max-width:550px) {
        max-width: 190px !important;
    }
    @media (max-width:505px) {
        max-width: 220px !important;
        border-radius: 6px;
    }
    @media (max-width:410px) {
        max-width: 350px !important;
    }
}

@import "./footer";